$cherry-blossom-pink: #edafb8ff;
$champagne-pink: #f7e1d7ff;
$timberwolf: #dedbd2ff;
$ash-gray: #b0c4b1ff;
$outer-space: #4a5759ff;
$dark-pink: rgb(196, 114, 126);
$white: #fff;
$answer-true: rgb(150, 209, 153);
$option-border: rgba(255, 255, 255, 0.1);
$border-color: #33333395;
$question-color: rgba(253, 243, 160, 0.908);
$option-bg: rgba(227, 219, 215, 0.285);
$correct-answ: #0bda57;
$incorrect-answ: #b40b0b;
$quiz-box: #ffffffb6;
